{# NB: This file is a "jinja2 template", but can mostly be edited like HTML #}
{% extends "base.html" %}
{% block head %}{{ super() }}
<style type="text/css">
div#header {
    border-bottom: none;
}
</style>
{% endblock %}
{% block content %}
<!-- this block must be one line without spaces :( -->
<a href="http://wiki.leaflabs.com/Lorenz"><img src="/static/images/home_header_lorenz.jpg" alt="n/a" class="frontheaderimg"></a><a href="http://www.youtube.com/watch?v=Jr2ZsedYxPM"><img src="/static/images/home_header_theramin.jpg" alt="n/a" class="frontheaderimg"></a><a href="/services/"><img src="/static/images/home_header_fpga_utilization.png" alt="n/a" class="frontheaderimg"></a><a href="/neuroscience/"><img src="/static/images/home_header_signal_trace.png" alt="n/a" class="frontheaderimg"></a><a href="http://leaflabs.com/2010/07/audio-and-guitar-effects-on-maple/"><img src="/static/images/home_header_shield.jpg" alt="n/a" class="frontheaderimg"></a>
<!-- end block -->

<div class="frontbuttons">
<a href="/devices/">Maple</a>
<a href="/neuroscience/">Neuroscience</a>
<a href="/services/">Services</a>
</div>

<div id="frontmessage">
<h3>Hello World!</h3>

<div id="frontmessageleft">
<p>
We are a small company that designs powerful
<a href="/devices/">physical computing devices</a>
for control and communication among smart machines (including humans!).
We work with scientists, entrepreneurs, artists, and enthusiasts to
implement beautiful ideas as quickly and elegantly as possible.
</p>

</div><div id="frontmessageright">
<p>
Many of our 
<a href="http://github.com/leaflabs/maple">hardware designs</a> and supporting 
<a href="http://github.com/leaflabs/">software tools</a> are freely available under
common Open Source <a href="/licensing/">licenses</a>.
You can read more <a href="/about/">about us</a>,
check the <a href="/blog/">blog</a>,
purchase products from our <a href="/distributors/">distributors</a>,
inquire about engineering <a href="/services/">services</a>,
or see what others are <a href="http://forums.leaflabs.com">saying</a>
and <a href="/projects/">building</a>.
</p>

<p>
<br>
<div style="text-align: center; width: 100%;"><i>Thanks for visiting!</i></div>
</p>
</div> 

</div>

{% endblock content %}
