{# This file is a "jinja2 template", but can mostly be edited like HTML #}
{% extends "base.html" %}
{% block content %}        
<div id="frontheader">

<p>
<b>Hello World!</b> We are a small company that builds <a href="/devices">physical computing devices</a> around powerful digital hardware
for experimentation with control and communications between smart machines...
including humans! We are excited to work with hobbyists, artists, creators,
scientists, inventors, and engineers to implement beautiful ideas as quickly
and easily as possible.  All of our <a href="http://code.google.com/p/leafhw/">hardware designs</a> and <a href="/software/">supporting software tools</a> are freely available under
common Open Source <a href="/licensing/">licenses</a>.  

</p><p>
You can read more <a href="/about/">about us</a>, check the <a href="/blog/">blog</a>, <a href="/store/">buy</a> our
products, or see what <a href="/community/">others are saying</a>. 
Thanks for visiting! 

</p></div> 
<img src="/theme/img/header1.jpg" alt="n/a" class="frontheaderimg"><img src="/theme/img/header2.jpg" alt="n/a" class="frontheaderimg"><img src="/theme/img/header3.jpg" alt="n/a" class="frontheaderimg"><img src="/theme/img/header4.jpg" alt="n/a" class="frontheaderimg"><img src="/theme/img/header5.jpg" alt="n/a" class="frontheaderimg" style="border-right:none;"> 
<div style="height: 330px;"> 
<h3 style="font-size: 1.7em;">Our most recent product: The Maple</h3> 
This board has all the essentials: a fast processor with lots of
peripherals. At the center of Maple is a 72MHz ARM Cortex M3 chip; in the past
ARM processors have been notoriously unfriendly in non-professional
environments due to proprietary tool chains and unfamiliar instruction sets.
LeafLabs aims to change this by providing an ARM tool-chain built from open
source components and a programming environment that is easy to
use.  For those of us who love and are familiar with Arduino, Maple is offered
in an Arduino-compatible format, complete with Arduino pin layouts and
programming environment. <a href="/devices/maple/">Read more...</a>

<br><br>
<a href="/devices/maple/">
<img src="/theme/img/maple_gerber.png" style="width: 150px; float: left; margin-left:5px;"></a>

<ul style="float:right;margin-right:0px;width:280px;">
 <li>Dual <b>I2C</b> and <b>SPI</b> ports 
 </li><li>3 USART Serial ports
 </li><li>7-channel <b>DMA</b> 
 </li><li>Low power and sleep modes 
 </li><li>Integrated LiPo <b>battery charging</b> 
 </li><li>Dimensions: 2.05″x2.1″ (5.21x5.33cm) 
 </li><li>Starting price: <a href="/store/"><b>$50</b></a>
 </li><li>Extensive <a href="/docs/maple/"><b>documentation</b></a>
</li></ul> 
<ul style="margin-left: 200px;"> 
 <li>STM32F103RB: a <b>32-bit</b> ARM Cortex-M3 microprocessor at <b>72Mhz</b> 
 </li><li><b>20KB</b> RAM and <b>128KB</b> Flash 
 </li><li>Dedicated <b>USB</b> port for programming and communications 
 </li><li>37 General Purpose pins 
 </li><li><b>16 Analog</b> inputs at 12-bit resolution 
 </li><li><b>15 PWM pins</b> at 16-bit resolution 
</li></ul> 
</div>

{% endblock content %}
