/* based off http://blog.html.it/layoutgala/LayoutGala39.html */
html,body {
    margin:0;
    padding:0; 
}
body {
    text-align:center; 
    font-family:Helvetica; 
    font-size:85%;
    line-height: 1.25;
}
p {
    margin-top: 8px;
}
a {
    /* display:block; */
    color: blue;
    /*padding:10px;*/
}
table,th,td { 
    border: 1px solid black; 
}
table { 
    border-collapse: collapse; 
    margin-top: 8px;
}
td,th { 
    padding: 8px; 
}
dt { 
    font-weight: bold; 
    margin-top: 12px; 
    margin-bottom:8px;
}
dt a {
    color: black;
}
ol,ul {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 30px;
}
ol {
    list-style-type: decimal; 
}
ul {
    list-style: square; 
}
dd {
    margin-left: 18px;
    margin-top: .5em;
    margin-bottom: .5em;
}
hr {
    color: gray;
    background-color: gray;
    height: 2px;
    border: none;
}
.code { background-color: black; color: white; padding: 5px; width: 50em; 
        margin-left: 40px; border: 2px solid gray; 
        margin-bottom: 10px; margin-top: 10px;
}
.codehilite { background-color: black; color: white; padding: 5px; width: 50em; 
        margin-left: 40px; border: 2px solid gray; 
        margin-bottom: 10px; margin-top: 10px;
}
.emptybox { margin: 40px; border: 2px solid gray; padding: 10px; 
}
.emptybox h3 { 
    margin-top: 0px; 
}
.box { margin: 40px; border: 2px solid black; background-color: gray; 
        padding: 10px; 
}
.box h3 { 
    margin-top: 0px; 
}
.warningbox{ 
    margin: 40px; 
    border: 2px solid orange; 
    background-color: yellow;
    padding: 10px; 
}
.warningbox h3 { 
    margin-top: 0px; 
}
.centerimg { 
    text-align: center; 
    font-style:italic; 
}
.centerimg p { 
    padding-left: 20%; 
    padding-right: 20%; 
    margin-top: 2px;
}
h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 2.5em;
}
h1 a{
    color: black;
    text-decoration: none;
}
h2 {
    margin-bottom: 6px;
    margin-top: 12px;
    font-size: 2em;
}
h2 a{
    color: black;
    text-decoration: none;
}
h3 {
    margin-bottom: 8px;
    margin-top: 12px;
    font-size: 1.5em;
}
h3 a{
    color: black;
    text-decoration: none;
}
h4 a{
    color: black;
    text-decoration: none;
}
span.subtitle {
    font-size: .6em;
    color: gray;
}
span.subtitle a {
    color: green;
}

div#header {
    height:67px;
    border-bottom: dotted #333 1px;
    margin:0;
    padding-top: 5px;
    color: #4d8d3f; /* logo dark: 4d8d3f */
    /* background: #8fdb90;      logo background: 8fdb90 */
}
div#header a {
    padding: 0px;
    display: inherit;
    text-decoration: none;
}
img#sitelogo {
    vertical-align: top;
}

span#sitetitle {
    position: relative;
    top: 1px;
    font-family:Helvetica; 
    color:black;
    font-size: 2.5em;
    font-weight: bold;
}
span#sitesubtitle {
    position:relative;
    top: 20px;
    left: -152px;
    font-family:Helvetica; 
    font-weight: bold;
    font-size: 1.1em;
    color:gray;
}
div.linkcontainer {
    float: right;
    height: 40px;
}
div.linkcontainer ul {
    margin: 2px;
    line-height:normal;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
div.linkcontainer li {
    margin-top: 3px;
    float:left;
    margin-right: 12px;
    font-size: 1.1em;
    font-weight: bold;
    color:black;
}
div.linkcontainer a {
    text-decoration: none;
    padding: 0px; 
    margin: 0px;
    color: black;
}
div.linkcontainer a:hover {
    color: green;
}
form.searchform {
    float: right;
    margin-right: 12px;
    margin-top: 4px;
}
input.searchinput {
    width: 294px;
    color: #999;
    font-style: italic;
}
div#container {
    text-align:left;
    width:770px;
    margin:0 auto;
}
div#content {
    margin-top: 0px;
}
h4.bottomtitle {
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #333;
}
div#bottomright p {
    margin: 0 5px 5px;
}
div#bottomleft {
    border-top: solid #333 2px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background: gray;
    float:left;
    width:364px;
    border-right: 1px #333 dashed;
    height: 160px;
    color: #333;
    font-size: 0.9em;
}
div#bottomleft p {
    margin: 0 10px 3px;
}
div#bottomleft a {
    color: #333;
}
div#bottomright {
    border-top: solid #333 2px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background: gray;
    float:right;
    width:365px;
    height: 160px;
    color: #333;
    font-size: 0.9em;
}
div#bottomright p {
    margin: 0 10px 3px;
}
div#bottomright a {
    color: #333;
}
img.frontheaderimg {
    margin: 0px;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    margin-bottom: 8px;
}
div#frontheader {
    padding: 7px; 
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em; 
    background-color: #BBEEBB;
    font-size: 1.2em; 
    font-style:italic; 
    font-family:Georgia,'Times New Roman',Times,serif;
}
div#frontheader a{
    color: black;
    font-weight: bold;
}
div.blogtitle {
    width: 100%;
    /* border-bottom: 2px gray solid; */
}
div.blogtitle a {
    font-size: 1.3em;
}
div.blogtitle h3 {
    margin-bottom: 0px;
}
div.blogpostinfo {
    background:#F5F5F5 none repeat scroll 0 0;
    border-top:1px solid #CCCCCC;
    clear:both;
    color:#747474;
    FONT-FAMILY:"tREbuchet MS","Myriad Pro",Verdana,Tahoma,Arial,Helvetica;
    font-size:90%;
    line-height:150%;
    margin:10px 0 40px;
    padding:3px 5px; 
}
div.blogpostinfo a {
    color:#333333;
    text-decoration:none;
}

input.openid-identifier {
    background:#FFFFFF url(http://static.leaflabs.com/style/img/openid.png) no-repeat scroll 0 50%;
    padding-left:18px;
    width: 268px;
}

/* for the /projects/ page */
.projectbox {
    width: 240px;
    height: 180px;
    margin: 6px;
    border: 2px solid black;
    padding: 0px;
    float: left;
    background-size: 100%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    opacity: 1;
}
.projectbox .projectboxcontents {
    visibility: hidden;
    width: 220px;
    height: 160px;
    padding: 10px;
    margin: 0px;
    background-color: #BBEEBB;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -moz-opacity: 0.90;
    opacity: 0.90;
}
.projectbox:hover .projectboxcontents {
    visibility: visible;
}

/* ------ WP SEARCHFORM ------ */

#searchform input {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:12px;
  background-color:#747474;
  margin: 0;
  padding: 2px 4px 2px 4px;
  border:#747474 1px solid;
  color:#DDD;
  width: 55px;
}

#searchform input:hover {
  cursor:pointer;
  background-color:#606060;
  border:#333 1px solid;
  color:#fff;
}

#searchform #s {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:12px;
  margin: 0 5px 0 0;
  background-color:#DDD;
  padding: 3px 4px 3px 4px;
  border:#747474 1px solid;
  color:#606060;
  width: 175px;
}

/* ============= WP MISC ================ */
/* Captions */
.aligncenter,
div.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.wp-caption {
        border: 1px solid #ddd;
        text-align: center;
        background-color: #f3f3f3;
        padding-top: 4px;
        margin: 10px;
        -moz-border-radius: 3px;
        -khtml-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
}

.wp-caption img {
        margin: 0;
        padding: 0;
        border: 0 none;
}

.wp-caption p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        padding: 0 4px 5px;
        margin: 0;
}

div#frontheader_new {
    padding: 7px;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 2em;
    background-color: #BBEEBB;
    font-size: 1.2em;
}

div#frontheaderimgs{
    padding: 0px;
}

div#frontheader_new a{
    color:#000000;
    font-weight:800;
}
